body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 20px 0;
  color: #333;
}

#score, #energy {
  margin: 10px;
  font-size: 1.5em;
  color: #333;
}

#click-button {
  width: 30vw; /* Ширина кнопки - 30% від ширини екрана */
  max-width: 120px; /* Максимальна ширина - 120px */
  min-width: 60px; /* Мінімальна ширина - 60px */
  height: 30vw; /* Висота кнопки - 30% від ширини екрана */
  max-height: 120px; /* Максимальна висота - 120px */
  min-height: 60px; /* Мінімальна висота - 60px */
  border: none;
  border-radius: 50%;
  background-color: transparent; /* Зробимо фон прозорим, якщо використовуємо зображення */
  margin: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: none; /* Прибрати тінь, якщо використовуємо зображення */
}

#click-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Зробити зображення круглим */
  object-fit: cover; /* Зберігати пропорції зображення */
}

#menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ccc;
}

.menu-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.separator {
  width: 1px;
  height: 50px;
  background-color: #ccc;
  margin: 0 10px;
}
/*touch-action: manipulation; /* Відключення масштабування на подвійне натискання */
    