body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.game-container {
  text-align: center;
}

#click-button {
  background: none;
  border: none;
  cursor: pointer;
}

#click-button img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#score, #energy {
  margin: 20px 0;
  font-size: 1.5em;
}




/*touch-action: manipulation; /* Відключення масштабування на подвійне натискання */
    