/* styles.css */

body {
  font-family: Arial, sans-serif;
  text-align: center; /* Центрування тексту */
}

#game {
  margin-top: 50px; /* Відступ зверху для центрування */
}

#click-button {
  width: 200px; /* Ширина кнопки */
  height: 200px; /* Висота кнопки */
  border-radius: 50%; /* Зробити кнопку круглою */
  font-size: 24px; /* Розмір тексту на кнопці */
  touch-action: manipulation; /* Відключення масштабування на подвійне натискання */
}

#click-count {
  font-size: 20px; /* Розмір тексту з кліками */
}

h1 {
  font-size: 36px; /* Розмір заголовку */
}
    